In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

In [30]:
path ="EDA.csv"
class DataFrame_Loader():
    data = path
    
    def __init__(self):
        
        print("Loadind DataFrame")
        
    def read_csv(self,data):
        self.df = pd.read_csv(data)
        
    def load_csv(self):
        return self.df

In [31]:
Data = DataFrame_Loader()

Loadind DataFrame

In [32]:
Data.read_csv(path)

In [33]:
df = Data.load_csv()

In [34]:
df_model = df[['Avg Salary','Rating','Size','Sector','Revenue','No of Competitors','Job State', 'Same State',
       'Age', 'R', 'Python', 'AWS', 'Excel', 'Spark', 'Tableau', 'SQL',
       'TensorFlow', 'PowerBI', 'SaS', 'Flask', 'Hadoop', 'Statistics', 'Seniority',
       'Desc Length']]

In [35]:
df_dummies = df_model.iloc[:,9:19]

In [46]:
drop_cols = list(df_dummies.columns)
drop_cols

['R',
 'Python',
 'AWS',
 'Excel',
 'Spark',
 'Tableau',
 'SQL',
 'TensorFlow',
 'PowerBI',
 'SaS']

In [60]:
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing

class Base_Feature_Engineering():

    def __init__(self):
        print("Feature Engineering object created")
    
    def _Label_Encoding(self,data):
        category_col =[var for var in data.columns if data[var].dtypes =="object"] 
        labelEncoder = preprocessing.LabelEncoder()
        mapping_dict={}
        for col in category_col:
            data[col] = labelEncoder.fit_transform(data[col])
            le_name_mapping = dict(zip(labelEncoder.classes_, labelEncoder.transform(labelEncoder.classes_)))
            mapping_dict[col]=le_name_mapping
            return mapping_dict

    def _get_dummies(self, data, prefered_columns=None):

        if prefered_columns is None:
            columns=data.columns.values
            non_dummies=None
        else:
            non_dummies=[col for col in data.columns.values if col not in prefered_columns ]

            columns=prefered_columns


        dummies_data=[pd.get_dummies(data[col],prefix=col) for col in columns]

        if non_dummies is not None:
            for non_dummy in non_dummies:
                dummies_data.append(data[non_dummy])

        return pd.concat(dummies_data, axis=1)
    
    def dropper(self,x):
        data=[]
        for i in x.columns:
            if i not in drop_cols:
                data.append(i)
        return df[data]
    
    def Concate_DataFrame(self,x,y):
        new_df = pd.concat([x,y],axis=1)
        return new_df

In [61]:
FE = Base_Feature_Engineering()

Feature Engineering object created

In [51]:
df_dummies = FE._get_dummies(df_dummies)

In [56]:
df_model = FE.dropper(df_model)

In [64]:
new_df = FE.Concate_DataFrame(df_model,df_dummies)

In [66]:
new_df

,Avg Salary,Rating,Size,Sector,Revenue,No of Competitors,Job State,Same State,Age,Flask,...,Tableau_0,Tableau_1,SQL_0,SQL_1,TensorFlow_0,TensorFlow_1,PowerBI_0,PowerBI_1,SaS_0,SaS_1
0,98.5,3.9,10000+ employees,Biotech & Pharmaceuticals,₹500+ billion (INR),0,MA,0,24,0,...,1,0,1,0,1,0,1,0,1,0
1,98.5,4.0,1001 to 5000 employees,Business Services,₹10 to ₹50 billion (INR),0,MA,1,39,1,...,1,0,1,0,1,0,1,0,1,0
2,98.5,4.1,1001 to 5000 employees,Biotech & Pharmaceuticals,₹10 to ₹50 billion (INR),2,MA,1,39,0,...,1,0,1,0,0,1,1,0,1,0
3,98.5,4.7,201 to 500 employees,Biotech & Pharmaceuticals,Unknown / Non-Applicable,3,MA,1,46,0,...,1,0,1,0,1,0,1,0,1,0
4,98.5,4.7,201 to 500 employees,Aerospace & Defence,₹10 to ₹50 billion (INR),0,MA,1,10,0,...,1,0,0,1,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,118.0,4.0,5001 to 10000 employees,Biotech & Pharmaceuticals,₹500+ billion (INR),3,NJ,0,157,0,...,1,0,1,0,1,0,1,0,1,0
996,118.0,3.6,201 to 500 employees,Business Services,₹10 to ₹50 billion (INR),0,NJ,0,19,0,...,0,1,0,1,1,0,1,0,0,1
997,118.0,3.8,5001 to 10000 employees,Finance,₹500+ billion (INR),2,NY,0,163,0,...,1,0,0,1,1,0,1,0,0,1
998,118.0,-1.0,1 to 50 employees,Information Technology,₹100 to ₹500 million (INR),0,NY,1,13,0,...,1,0,0,1,1,0,1,0,1,0
999,118.0,-1.0,Unknown,-1,Unknown / Non-Applicable,0,NY,1,-1,0,...,1,0,1,0,1,0,1,0,1,0

In [77]:
new_df = new_df.drop(['Size','Sector','Revenue','Job State','Seniority'],axis=1)

In [102]:
x = new_df.drop('Avg Salary',axis=1)
y = new_df['Avg Salary']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics
from sklearn.metrics import r2_score
import statsmodels.api as sm
class Data_Modelling():

    def __init__(self,n_estimators=100,random_state=42,max_depth=10):
        print("Data Modelling object created")
        
    def OLS_Summary(self,data):
        model2 =sm.OLS(y_train,x_train).fit()
        return model2.summary()
        
    def Linear_Regression_Model(self,df):
        regressor = LinearRegression()
        reg=regressor.fit(x_train,y_train)
        LR_pred=regressor.predict(x_test)
        LR_MSE = (metrics.mean_squared_error(y_test,LR_pred))
        LR_MAE = (metrics.mean_absolute_error(y_test,LR_pred))
        return LR_MSE,LR_MAE

    def Decision_Tree_Model(self,df):
        regressor = DecisionTreeRegressor(random_state=29)
        reg=regressor.fit(x_train,y_train)
        DT_pred=regressor.predict(x_test)
        DT_MSE = (metrics.mean_squared_error(y_test,DT_pred))
        DT_MAE = (metrics.mean_absolute_error(y_test,DT_pred))
        return DT_MSE,DT_MAE

    def Random_Forest_Model(self,df):
        regressor = RandomForestRegressor(n_estimators=100,random_state=29,max_depth=12)
        reg=regressor.fit(x_train,y_train)
        RF_pred=regressor.predict(x_test)
        RF_MSE = (metrics.mean_squared_error(y_test,RF_pred))
        RF_MAE = (metrics.mean_absolute_error(y_test,RF_pred))
        return RF_MSE,RF_MAE

    def Extreme_Gradient_Boosting_Model(self,df):
        regressor = XGBRegressor(n_estimators=100,random_state=29,max_depth=9,learning_rate=0.07)
        reg=regressor.fit(x_train,y_train)
        XGB_pred=regressor.predict(x_test)
        XGB_MSE = (metrics.mean_squared_error(y_test,XGB_pred))
        XGB_MAE = (metrics.mean_absolute_error(y_test,XGB_pred))
        return XGB_MSE,XGB_MAE

In [103]:
model = Data_Modelling()

Data Modelling object created

In [91]:
model.OLS_Summary(new_df)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             Avg Salary   R-squared:                       0.047
Model:                            OLS   Adj. R-squared:                  0.022
Method:                 Least Squares   F-statistic:                     1.859
Date:                Sun, 30 Aug 2020   Prob (F-statistic):             0.0165
Time:                        13:57:29   Log-Likelihood:                -3528.6
No. Observations:                 700   AIC:                             7095.
Df Residuals:                     681   BIC:                             7182.
Df Model:                          18
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Rating               -0.7327      0.980     -0.748      0.455      -2.656       1.191
No of Competitors     3.6721      1.178      3.118      0.002       1.360       5.985
Same State            2.8427      3.252      0.874      0.382      -3.543       9.229
Age                  -0.0859      0.035     -2.423      0.016      -0.156      -0.016
Flask                 1.3409     11.327      0.118      0.906     -20.899      23.581
Hadoop                3.4144      4.017      0.850      0.396      -4.473      11.302
Statistics           -7.0997      3.848     -1.845      0.065     -14.655       0.456
Desc Length          -0.0022      0.001     -1.923      0.055      -0.004    4.54e-05
R_0                  13.2442      1.902      6.963      0.000       9.510      16.979
R_1                  15.2317      2.109      7.221      0.000      11.090      19.373
Python_0             14.3015      2.350      6.085      0.000       9.687      18.916
Python_1             14.1745      2.121      6.684      0.000      10.011      18.338
AWS_0                17.7266      2.012      8.811      0.000      13.776      21.677
AWS_1                10.7494      2.212      4.859      0.000       6.405      15.093
Excel_0              12.3697      1.760      7.027      0.000       8.913      15.826
Excel_1              16.1062      1.940      8.301      0.000      12.296      19.916
Spark_0              13.5717      2.152      6.307      0.000       9.347      17.796
Spark_1              14.9043      2.385      6.250      0.000      10.222      19.586
Tableau_0            14.8464      2.312      6.422      0.000      10.307      19.386
Tableau_1            13.6295      2.373      5.744      0.000       8.970      18.289
SQL_0                12.4995      1.993      6.271      0.000       8.586      16.413
SQL_1                15.9764      1.890      8.452      0.000      12.265      19.688
TensorFlow_0         14.3894      2.395      6.009      0.000       9.688      19.091
TensorFlow_1         14.0865      2.589      5.441      0.000       9.003      19.170
PowerBI_0            13.4605      7.947      1.694      0.091      -2.143      29.064
PowerBI_1            15.0154      9.596      1.565      0.118      -3.825      33.856
SaS_0                13.8569      2.466      5.619      0.000       9.015      18.699
SaS_1                14.6191      2.851      5.128      0.000       9.021      20.217
==============================================================================
Omnibus:                      260.089   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              870.910
Skew:                           1.792   Prob(JB):                    7.66e-190
Kurtosis:                       7.126   Cond. No.                     1.17e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.8e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [104]:
model.Linear_Regression_Model(df)

(1550.487465653156, 26.862657583188675)

In [105]:
model.Decision_Tree_Model(df)

(2819.1185416666667, 37.42583333333334)

In [106]:
model.Random_Forest_Model(df)

(1710.8256269095675, 28.818629970385192)

In [107]:
model.Extreme_Gradient_Boosting_Model(df)

(2003.9305444357472, 31.149774475097658)

In [ ]:
import pickle
pickle.dump(regressor,open('model_file.pkl','wb'))